<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ldap user managerment</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--<style>-->
        <!--#i1{   #id选择器-->
            <!--background-color: sss;-->
            <!--height: 48px;-->
        <!--}-->


        <!--.c1{    class  对应  class选择器-->

          <!--}-->


       <!--div(}-->
        <!--标签选择器-->

        <!--关联选择器-->
        <!--层级选择器  空格-->
        <!--组合选择器  ，-->
        <!--属性选择器-->

    <!--</style>-->
</head>
<body>
<div class="nabar">
    <ul>
        <li>a</li>
        <li>b</li>
    </ul>

</div>

</body>
</html>